* {
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  color: #65247f;
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
  font-weight: 400;
}

h3 {
  font-size: 1.375rem;
  font-weight: 400;
}

h1, h2, h3 {
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}

.avatar img {
  max-width: 400px;
  width: 100%;
}

header {
  padding: 20px 20px 0;
}

main {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex > div {
  padding: 10px;
  width: 50%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a {
  color: #65247f;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

.flex + .flex {
  margin-top: 1em;
}

.for-screen-readers {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  clip-path: inset(100%);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 40.0625em) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }
}

@media only screen and (max-width: 900px) {
  .flex {
    flex-direction: column;
    text-align: center;
  }

  .flex > div {
    width: 100%;
  }
}
