
.wrapper {
  padding-bottom: 20px;
  background: linear-gradient(to right, var(--background-start), var(--background-end));
}

.main {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  min-height: calc(100vh - 120px);
}

.main p {
  line-height: 2;
}

.background {
  position: fixed;
  top: 0;
  pointer-events: none;
}

.important {
  font-weight: 600;
}

.avatar {
  margin: 0 auto;
}

.avatar img {
  border-radius: 5%;
  max-width: 100%;
  height: auto;
}


.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.introWrapper {
  text-align: center;
}

.descriptionWrapper {
  font-size: 22px;
  padding: 10px 30px;
  width: 60%;
  box-sizing: border-box;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.flex + .flex {
  margin-top: 1em;
}

.forScreenReaders {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  clip-path: inset(100%);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts {
  text-align: center;
  padding: 30px 20px;
}

.roleList span {
  display: block;
}

.eventList {
  font-size: 22px;
  line-height: 2;
  list-style: none;
  text-align: left;
  padding-left: 20px;
}

.centeredBlock {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.menu a {
  padding: 5px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu a:hover,
.menu a:active {
  font-weight: bold;
  text-decoration: none;
}

.menu svg {
  display: block;
}

.descriptionWrapper {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .flex {
    gap: 20px;
    flex-direction: row;
  }

  .descriptionWrapper {
    width: 66%;
  }
}

.grid {
  display: grid;
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
  gap: 30px 5px;
}

.icon {
  color: var(--background-start);
  display: block;
  border-radius: 8px;
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); */
  transition: all 0.3s;
}

.icon svg {
  width: 80px;
  height: 80px;
  max-width: 100%;
  max-height: 100%;
}

.icon + .icon {
  margin-left: 20px;
}

.icon:hover {
  /* margin-top: -1px;
  margin-bottom: 1px; */
  /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); */
  transform: translateY(-5px);
  color: var(--background-end);
}

.underlineA {
  text-decoration: underline transparent;
  transition: text-decoration .3s ease;
}

.underlineA:hover {
  text-decoration-color: var(--link-color);
}

.extraA {
  color: var(--secondary-link-color);
  text-decoration: underline transparent;
  transition: text-decoration .3s ease;
}

.extraA:hover {
  text-decoration-color: var(--secondary-link-color);
}

.svgIcon {
  fill: var(--secondary-link-color);
}

.svgIcon:hover {
  fill: var(--secondary-link-color);
}

.descriptionWrapper h2 {
  font-size: 28px;
  margin-top: 20px;
}

.eventList li {
  position: relative;
}

.eventList li::before {
  content: ' ';
  position: absolute;
  top: 20px;
  left: -20px;
  background-color: purple;
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transition: .3s;
}

.eventList li:hover::before {
  transform: scale(2);
}
