@font-face {
  font-family: Elf;
  src: url(elvencommonspeak.ttf);
}

body {
  margin: auto;
  background-color: #000000;
  color: #90eeed;
  font-family: Elf, fantasy, Courier New, monospace;
  font-size: 35px;
  text-align: center;
}

h1 {
  font-size: 38px;
  font-weight: 100;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 100;
  margin: 0;
}

main {
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
}

img {
  max-width: 100%;
  max-height: 90vh;
}

.answers {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.elf-btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  min-width: 150px;
  font-size: 20px;
  font-family: Courier New, monospace;
  border: 1px dashed #666666;
  position: relative;
  background-color: transparent;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.elf-btn-wrapper .elf-btn:not(.nofocus):hover,
.elf-btn:not(.nofocus):focus,
.elf-btn:not(.nofocus):active {
  text-shadow: #ffffff 0px 0px 5px;
  box-shadow: #ffffff 0px 0px 7px;
}

.nofocus:hover,
.nofocus:focus,
.nofocus:active {
  outline: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

.elf-btn-wrapper {
  background-image: url(leather.jpg);
  background-color: rgb(33, 5, 5);
  padding: 5px;
  line-height: 1;
  display: inline-flex;
  border-radius: 10px;
  margin-top: 15px;
}

.elf-btn img {
  border: 2px rgb(205, 192, 127) solid;
  max-width: 100px;
  border-radius: 10px;
}

.qr {
  width: 200px;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.animate1 {
  animation: fade ease 7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
    display: block;
  }
  50% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.animate2 {
  animation-name: fade;
  animation-timing-function: ease;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-in {
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-out {
  animation-name: fadeOut;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  opacity: 1;
}

.animate-delay-3 {
  animation-delay: 3s;
}

.animate-delay-6 {
  animation-delay: 6s;
}

.animate-delay-13 {
  animation-delay: 13s;
}

.animate3 {
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hidden {
  display: none;
}

.opacity0 {
  opacity: 0;
}

.latvian {
  font-family: Courier New, monospace;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.page-center {
  position: absolute;
  top: 200px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.status {
  font-family: Courier New, monospace;
}

input {
  border: 2px solid #3d6060;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: Courier New, monospace;
}

select {
  display: inline-block;
  font-size: 20px;
  font-family: Courier New, monospace;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 200px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid #3d6060;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.sos {
  position: fixed;
  left: 15px;
  bottom: 0px;
  width: 150px;
}

.last-qr img {
  text-align: center;
  width: 200px;
}

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.birthday {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  padding: 20px 0;
}

.sign {
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  letter-spacing: 2;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 45px;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.model {
  position: relative;
  min-height: 100px;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #736f6f;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

.game-page main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  padding: 0;
  min-height: 100vh;
}

.game-page .audio {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 99999;
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

#clockdiv {
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #90eeed;
  border: 2px solid #3d6060;
  padding: 15px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.seconds {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.deadline .seconds {
  color: red !important;
  animation: pulse 3s infinite;
}

canvas,
main {
  display: block;
  margin: 0 auto;
}

.notification {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  color: #90eeed;
  text-align: center;
  padding: 32px;
  margin: 0px;
  border: 2px solid #3d6060;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', Courier, monospace;
}

@keyframes pulse {
  0% {
    font-size: 60px;
  }
  100% {
    font-size: 50px;
  }
}

@media screen and (min-width: 700px) {
  body {
    font-size: 50px;
  }

  h1 {
    font-size: 70px;
  }
  
  h2 {
    font-size: 60px;
  }

  .page-center {
    width: 70%;
  }

  .sign {
    font-size: 70px;
  }
}

@media screen and (min-width: 1000px) {
  .latvian,
  .status,
  input,
  select,
  .elf-btn {
    font-family: fantasy, Courier New, monospace;
  }
}

@media screen and (min-width: 1000px) and (min-height: 800px) {
  .page-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
